
 /* unvisited link */
      a:link {
          color: red;
      }
      /* visited link */
      a:visited {
          color: black;
      }
      /* mouse over element */
      a:hover {
          color: green;
      } 
      /* selected link */
      a:active{
          color: #0000FF
      }